/* reset */
html, body, div, span, applet, object, iframe, 
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Mon css ici */
.acccompog a{
	text-decoration: none;
	color:#000;
}
.acccompog{
	background-color:#fff;
	display: block;
}
.acccompog:hover{
	background-color:#ddb;
	display: block;
}
.auteur{
	float:right;
	color:#555;
	font-style:italic;
}
body{
	width:100%;
	top:0;
	left:0;
	padding:0;
	margin:0;
	background: #ddb url(../sources/fond.png);
}
#bas{
	position:relative;
	background-color:#005806;
	width:100%;
	min-width:800px;
	height:26px;
	line-height:26px;
	text-align:center;
	top:200px;
	color:white;
}
#bas a{
	text-decoration: none;
	color:#fff;
}
#bas a:hover{
	color:#AFC;
}
#contenu{
	position:relative;
	top:30px;
	background-color: #fff;
	min-width:800px;
	width:80%;
	padding:2%;
	margin-left:auto;
	margin-right:auto;
	text-align:justify;
	overflow:none;
	word-wrap:breapxword;
	min-height:700px;
	padding-bottom:100px;
}
#enreg td {
	border:solid 1px #1d5f1d;
	margin-right:-5px;
	text-align:center;
}
#fin-galery-artist{
	top:45px;
	width:100%;
	text-align:center;
}
#fin-galery-artist a{
	background: #ddb url(../sources/fond.png);
	padding:4px;
	margin:2px;
	border:solid 1px #1d5f1d;
	text-decoration:none;
	color:#1d5f1d;
}
#fin-galery-artist a:hover{
	background:#1d5f1d;
	color:#fff;
}
#galery-artist{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
	top:50px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	height: auto;
	overflow: hidden;
}
#galery-artist img{
	width:  150px;
	height: 150px;
	border: inset 2px #151;
}
#galery-artist li a:link, #galery-artist li a:visited{
	width:200px;
	height:200px;
	background: #1d5f1d url(../sources/galery-artist.png);
	background-position: 0px 0px;
	list-style-type: none;
	text-align:center;
	border-radius:5px;
	moz-border-radius:5px;
	display: block;
	font-size:16px;
 	color: #FFF;
 	margin: 20px;
 	padding: 4px 8px;
 	text-decoration: none;
 	float:left;
 	overflow:hidden;
 	border: outset 2px #040;
}
#galery-artist li a:hover { background: #A9FE9C url(../sources/galery-artist.png); background-position: 0px 208px; color:#111;}
#galery-artist li a:active { background-color: #5A4; }
hr{
	color: #1d5f1d;
 	background-color: #1d5f1d;
 	height: 1px;
 	border: 0;
}
#mapdescri{
	width:500px;
	color:red;
	margin-left: auto;
	margin-right: auto;
	word-wrap:breapxword;
	text-align:justify;
}
#maps{
	width:500px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	border:solid 1px #000;
}
#mapsv{
	background: #1d5f1d url(../sources/galery-artist.png);
	width:200px;
	height:30px;
	line-height:30px;
	color:#fff;
	text-align:center;
	margin-top:10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	float:left;
	margin-left:10px;
}
#mapsv:hover{
	background-position: 0px 208px;
}
#mapsv a{
	text-decoration: none;
	color: #fff;
	display: block;
}
#menufond
{
  background: #1d5f1d url(../sources/menufond.png);
  width:100%;
  min-width:800px;
  position:fixed;
  top:0;
 height:39px;
 border-bottom:solid 2px #040;
 z-index:200;
 color:white;
 line-height:39px;
}
#menuDeroulant
{
 position:fixed;
 top:0;
 list-style-type: none;
 margin: 0;
 padding: 0;
 border: 0;
}
#menuDeroulant li
{
 float: left;
 margin: 0;
 padding: 0;
 border: 0;
 text-align:center;
 line-height:30px;
}	
#menuDeroulant .sousMenu
{
 list-style-type: none;
 margin: 0;
 padding: 0;
 border: 0;
}
#menuDeroulant .sousMenu li
{
 float: none;
 margin: 0;
 padding: 0;
 border: 0;
}
#menuDeroulant li
{
 float: left;
 min-width: 110px;
 margin: 0;
 padding: 0;
 border: 0;
}	
#menuDeroulant li a:link, #menuDeroulant li a:visited
{
 display: block;
 height: 30px;
 color: #FFF;
 background: #1d5f1d url(../sources/menufond.png);
 margin: 0;
 padding: 4px 8px;
 border-right: 1px solid #fff;
 text-decoration: none;
}
#menuDeroulant li a:hover { background-color: #A9FE9C;  color:#1d5f1d; }
#menuDeroulant li a:active { background-color: #5A4; }

#menuDeroulant .sousMenu li a:link,
#menuDeroulant .sousMenu li a:visited
{
 display: block;
 color: #FFF;
 margin: 0;
 border: 0;
 text-decoration: none;
}
#menuDeroulant .sousMenu li a:hover
{
 background-image: none;
 background-color: #A9FE9C;
 color:#000;
}	
#menuDeroulant .sousMenu li
{
 float: none;
 margin: 0;
 padding: 0;
 border: 0;
 min-width: 109px;
 border-top: 1px solid #fff;
 border-right: 1px solid transparent;
}	
#menuDeroulant .sousMenu
{
 display: none;
 list-style-type: none;
 margin: 0;
 padding: 0;
 border: 0;
}	
#menuDeroulant li:hover > .sousMenu { display: block; }
#menu-droit
{
 position:fixed;
 top:0;
 right:0;
 list-style-type: none;
 margin: 0;
 padding: 0;
 border: 0;
}
#menu-droit li
{
 float: right;
 margin: 0;
 padding: 0;
 border: 0;
 text-align:center;
 line-height:30px;
}	
#menu-droit .sousMenu
{
 list-style-type: none;
 margin: 0;
 padding: 0;
 border: 0;
}
#menu-droit .sousMenu li
{
 float: none;
 margin: 0;
 padding: 0;
 border: 0;
}
#menu-droit li
{
 float: right;
 min-width: 110px;
 margin: 0;
 padding: 0;
 border: 0;
}	
#menu-droit li a:link, #menu-droit li a:visited
{
 display: block;
 height: 30px;
 color: #FFF;
 background: #1d5f1d url(../sources/menufond.png);
 margin: 0;
 padding: 4px 8px;
 border-left: 1px solid #fff;
 text-decoration: none;
}
#menu-droit li a:hover { background-color: #A9FE9C;  color:#1d5f1d; }
#menu-droit li a:active { background-color: #5A4; }

#menu-droit .sousMenu li a:link,
#menu-droit .sousMenu li a:visited
{
 display: block;
 color: #FFF;
 margin: 0;
 border: 0;
 text-decoration: none;
}
#menu-droit .sousMenu li a:hover
{
 background-image: none;
 background-color: #A9FE9C;
 color:#1d5f1d;
}	
#menu-droit .sousMenu li
{
 float: none;
 margin: 0;
 padding: 0;
 border: 0;
 min-width: 109px;
 border-top: 1px solid #fff;
 border-left: 1px solid transparent;
}	
#menu-droit .sousMenu
{
 display: none;
 list-style-type: none;
 margin: 0;
 padding: 0;
 border: 0;
}	
#menu-droit li:hover > .sousMenu { display: block; }
#mod label{
	float:left;
	display:block;
	width:200px;
}
#mod input[type=text], #mod input[type=password]{
	display:block;
	width:200px;
	padding:5px;
}
#mod select{
	display:block;
	width:215px;
	padding:5px;
}
#mod textarea{
    border:1px solid #999999;
    width:98%;
    min-height:500px;
    margin:5px -5px;
    padding:5px;
}
#partenaires{
	text-align:justify;
	word-wrap:breapxword;
	min-width:800px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:0px;
	height:100px;
	color:#000;
}
#partenaires a{
	text-decoration: none;
	color:#000;
}
#partenaires a:hover{
	color:#F00;
}
#restevent{
	position: relative;
	top:450px;
}
#sel{
	background-color:#fff;
	padding:4px;
	margin:2px;
	border:solid 1px #000;
	text-decoration:none;
	color:#000;
}
#search a{
	display: block;
	width:98%;
	height:35px;
	line-height: 35px;
	overflow: hidden;
	border-bottom:solid 1px #1d5f1d;
	margin-bottom:5px;
	padding-bottom: 5px;
	color:#000;
	text-decoration: none;
	padding-left:1%;
}
#search a:hover{
	background-color:#1d5f1d;
	color:#A9FE9C;

}
#subdroit{
	width:30%;
}
#subdroit img{
	display: none;
}
#subface a{
	background-image:url(../sources/facebookout.png);
	width:64px;
	height:64px;
	background-position: 0px 0px;
	display: block;
	float:right;
}
#subrss a{
	background-image:url(../sources/rssout.png);
	width:64px;
	height:64px;
	background-position: 0px 0px;
	display: block;
	float:right;
}
#submail a{
	background-image:url(../sources/mailout.png);
	width:64px;
	height:64px;
	background-position: 0px 0px;
	display: block;
	float:right;
}
table {
   border-collapse: collapse;
}
/** social buton */
#social{
	margin: 0;
	margin-left:20px;
}
.element{display:inline-block;margin: 0 20px 0 -15px;}