/*[fmt]0A90-0A0A-2*/
#zoombox iframe,#zoombox img{
	border:none;
}
#zoombox .zoombox_mask{
	background-color:#000;
	position:fixed;
	width:100%;
	z-index:90;
	height:100%;
	top:0;
	left:0;
}
#zoombox .zoombox_container{
	position:absolute;
	z-index:100;
}
#zoombox .relative{
	position:relative;
}
.zoombox .zoombox_container{
	background:#000;
	color:#666;
	/*+box-shadow:0px 0px 10px #000000;*/
	-moz-box-shadow:0px 0px 10px #000000;
	-webkit-box-shadow:0px 0px 10px #000000;
	-o-box-shadow:0px 0px 10px #000000;
	box-shadow:0px 0px 10px #000000;
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
	-o-box-shadow:0 0 10px #000;
	box-shadow:0 0 10px #000;
}
.zoombox .content{
	background:#000;
}
.lightbox .zoombox_container{
	background:#FFF;
	margin-left:-30px;
	padding:10px 10px 37px;
	color:#666;
}
.profil-photo{
	width:200px;
	height:200px;
}
/** Pretty Photo Theme **/
.prettyphoto .zoombox_container{
	border:10px solid #0B0A0A;
	/*+border-radius:10px;*/
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px 10px 10px 10px;
	background:#FFF;
	padding:10px 10px 37px;
	margin-left:-20px;
	color:#797979;
}
.darkprettyphoto .zoombox_container{
	/*+border-radius:10px;*/
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px 10px 10px 10px;
	background:#0C0C0C;
	padding:10px 10px 37px;
	margin-left:-30px;
	color:#828282;
}
.simple .zoombox_container{
	background:#000;
}